# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

[359191274562_account-poweruser]
aws_access_key_id=ASIA****************
aws_secret_access_key=tAmhT***********************************
aws_session_token=IQoJb3JpZ2luX2VjEPP//////////********************************************************************************